@import './parameters.scss';

body{
  font-family: $main-font-stack;
}

#layout-wrapper{
  display: flex;
  flex-flow: row nowrap;
}

#aside-container{
  flex : 1;
}

#main-container{
 flex : 5;
}

#aside-container,
#main-container{
  padding: $large-gutter;
}

#cards-list {

  display: flex;
  flex-flow: row wrap;

  .card {
    width: 250px;
    padding: $large-gutter;

    h3 {
      text-align: center;
    }

    figure {

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .actions {

      a {
        text-decoration: none;
      }
    }


  }
}

@media screen and (max-width: 1000px)
{
  #layout-wrapper{
    flex-flow: column nowrap;
  }

  #aside-container{
    flex : 1;
  }

  #main-container{
   flex : 1;
  }
}
