@import './parameters.scss';

body
{
    font-family: $main-font-stack;
    // background-color: lighten($sp-red, 50%);
}

a
{
    color: $sp-red;
}

.logo
{
    width: 100%;
}

#layout-wrapper
{
    display: flex;
    flex-flow: row nowrap;
}

#aside-container
{
    flex: 1;
    input[type='text']
    {
        font-size: 1.3rem;

        width: 100%;

        border: none;
        outline: none;
    }
    input[type='text']:focus
    {
        border: 1px solid lightgrey;
    }
}

#main-container
{
    flex: 5;

    .cards-group
    {
        display: inline-block;
        float: left;
        width: 50%;

    }
}

#aside-container,
#main-container
{
    padding: $large-gutter;
}

#cards-list
{
    display: flex;

    flex-flow: row wrap;
}

@media screen and (max-width: 1000px)
{
    #layout-wrapper
    {
        flex-flow: column nowrap;
    }

    #aside-container
    {
        flex: 1;
    }

    #main-container
    {
        flex: 1;
        padding: 0;
    }

    .cards-group
    {
        width: 100%!important;
    }
}
